@charset "UTF-8";

/*:root {}*/

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f5deb3;
}

.navbar {
  border-radius: 0px 0px 5px 5px;
  font-weight: bold;
}

.voc-paragraph {
  margin-top: 100px;
}

.input-div {
  margin-top: 100px;
  margin-bottom: 50px;
}

.resultado-div {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 20px;
  color: #888;
  border-radius: 5px;
}

.resultado-div p {
  margin: 25px;
}

.favoritar-button,
.remover-button {
  display: none;
  margin-bottom: 25px;
}